* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 15px 50px;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
}

.home h1 {
  font-size: 50px;
}

.home span {
  color: yellow;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}


section {
  padding: 80px 50px;
  text-align: center;
}


.skill-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px gray;
  width: 150px;
}


.project-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px gray;
}


.contact {
  background: #222;
  color: white;
}

footer {
  text-align: center;
  padding: 15px;
  background: #111;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar ul {
    margin-top: 10px;
  }

  .home h1 {
    font-size: 35px;
  }

  .skill-container,
  .project-container {
    flex-direction: column;
    align-items: center;
  }
}
